.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(242, 240, 240, 0.1);
    width: 20%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card :hover{
    cursor: pointer;
}
.imageWrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
    overflow: hidden;
    margin-bottom: 10px;
}

.image {
    object-fit: cover;
}

.source {
    color: rgb(251, 63, 63);
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: 10px;
}
.title {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0 10px;
    padding: 0 16px;
    text-align: center;
    color: black;
}

.tags{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items:flex-start;
}

.tag {
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 16px;
    align-self: flex-start;
    margin-left: 16px;
    margin-bottom:10px
}

.tag:hover {
    background-color: #005bb5;
}