backend/node_modules/
backend/.env
backend/test-results/
backend/playwright-report/
backend/blob-report/
backend/playwright/.cache/
backend/data/

compose.yaml
DockerFile
README.Docker.md
.dockerignore


frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
