.navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-left: 50px;
}

.navbar a {
    padding: 10px;
}

.navbar a:hover {
    color: rgb(58, 57, 57);
    background-color: white;
    border: 1px white solid;
    box-shadow: 1px;
}